.container {
	background: #00a69c;
	color: #fff;

	width: 100%;
	height: auto;

	display: block;
}

.container > div {
	padding: 1em 4em;
}

.mainContainer {
	display: grid;
	grid-template-columns: repeat(4, 25%);
}

.logoContainer img {
	border-radius: 50%;
}

.contactContainer {
	margin-right: 2em;
}

.contactContainer ul li {
	display: flex;
}

.contactContainer ul li img {
	margin-right: 1em;
}

ul {
	font-size: 19px;

	margin-top: 1em;
}

ul li {
	margin-top: 1em;
	line-height: 2.8;
}

.privacyTermsContainer {
	font-weight: 500;
	font-size: 24px;
	line-height: 26px;

	width: 100%;

	margin-top: 4em;
}

.addressContainer {
	width: 30%;
	margin-top: 2em;
}

@media (max-width: 764px) {
	.container > div {
		padding: 1em;
	}

	.mainContainer {
		grid-template-columns: 40% 60%;
	}

	.contactContainer {
		margin-bottom: 1em;
	}

	.deliveryContainer {
		margin-left: 1em;
	}
}
