.footer-container {
	font-family: Poppins;
	background: #dddddd;

	width: min(90em, 100%);
	height: auto;

	display: block;

}

.footer-container > div {
	padding: 1em 4em;
}

.footer-container div div:first-child {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.footer-container div div:first-child .contact-container p:first-child {
	font-size: 20px;
	font-weight: 500;
	line-height: 4.8px;
	color: #000000;
}

.footer-container div div:first-child .contact-container p:last-child {
	font-size: 15.5px;
	font-weight: 500;
	line-height: 3.6px;
	color: #000000;
	text-decoration: underline;
}

.footer-container div div:first-child .contact-container img {
	width: 1.9em;
	margin-right: .4em;
}

.footer-container div div:first-child .nav-container p {
	font-size: 19px;
	line-height: 1.8;
	margin-left: 4em;
}

.footer-container div div:first-child div:last-child p {
	font-weight: 500;
	width: 60%;
	margin-top: 15em;
}

.footer-container div div:last-child p {
	width: 40%;
}

@media(max-width: 819px) {
	.footer-container div div:first-child {
		display: block;
	}

	.footer-container div div:first-child .nav-container p {
		margin-left: 0;
	}

	.footer-container div div:first-child div:last-child p {
		margin-top: 4em;
	}
}